.header-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.header-nav-section {
    display: flex;
    margin: 0 auto;
    max-width: 1400px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header-nav-img {
    width: 170px;
}

.header-nav-link {
    display: flex;
    align-items: center;
    gap: 50px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-nav-link li:hover {
    color: #ff7f00;
    border-bottom: 3px solid #ff7f00;
    border-radius: 2px;
}

.header-nav-link a {
    color: white;
    text-decoration: none;
}

.language-menu {
    display: flex;
    gap: 10px;
}

.language-menu-btn {
    color: #fff;
    border: 2px solid #fff;
    background-color: transparent;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.language-menu-btn:hover {
    color: #ff7f00;
}

.hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-left: auto;
}

.hamburger-menu div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
}

@media (max-width: 768px) {
    .header-nav-link {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        padding: 10px 0;
    }

    .header-nav-link.active {
        display: flex;
    }

    .hamburger-menu {
        display: flex;
        margin-right: 20px;
    }

    .language-menu {
        display: none;
    }

}