.promotionSection {
    max-width: 1400px;
    margin: 50px auto;
    font-family: "Poppins", sans-serif;
}

.promotionBox {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 250px;
}

.promotionTitleBox {
    display: flex;
    flex-direction: column;
}

.promotionBoxTitleOne {
    font-size: 24px;
    color: #ff7f00;
}

.promotionBoxTitleTwo {
    font-size: 64px;
}

.promotionBoxTitleThree {
    font-size: 16px;
}

.promotionBoxImg {
    max-width: 400px;
    border-radius: 50%;
}

.promotionPDFLink {
    text-decoration: none;
    text-align: center;
    color: #ff7f00;
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
    border: 1px solid #ff7f00;
    max-width: 150px;
    padding: 5px;
    border-radius: 5px;
}

.promotionPDFLink:hover {
    background-color: #ff7f00;
    color: white;
}

@media (max-width: 768px) {
    .promotionBox {
        flex-direction: column;
        gap: 50px;
    }

    .promotionBoxTitleTwo {
        font-size: 48px;
    }

    .promotionBoxImg {
        max-width: 300px;
    }
}